# this is the fp16_e_s3 branch
git+https://github.com/matt-peters/allennlp/@2d7ba1cb108428aaffe2dce875648253b44cb5ba
pytest==6.2.2
nltk==3.5
ipython==7.16.1
spacy==2.0.18
torch==1.4.0
Flask
waitress
ujson
urllib3==1.25.10
click==7.1.2
overrides==3.1.0
scikit-learn==0.22.2